img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }

    @media (max-width: 460px) {
        img {
          font-size: 3.5rem;
          line-height: 1.2;
        }
      }
      